h2{
    color: blue;
    text-align: center;
    background-color: blanchedalmond;
    padding: 20px;
}
#container{
    border: 2px solid burlywood;
    width: 600px;
    height: 400px;
    margin: 0 auto;

}
.button{
     background-color: antiquewhite;

     text-align:center;
}
.biankuang{
    width: 300px; 
    background-color: azure;
}